@font-face {
	font-family: 'Avenir';
	src: url('../assets/fonts/AvenirLTStd-Roman.otf') format('truetype');
}

$color-text-main: #31556f;
$color-text-candidate: #6f8797;
$font-weight-normal: 500;
$font-weight-bold: 900;

html,
body {
	padding: 0;
	margin: 0;
	font-family: Avenir, Helvetica Neue, sans-serif !important;
	color: $color-text-main;
}

a {
	color: inherit;
	text-decoration: none;
}
button {
	border: 0;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.wc-container-fluid {
	flex-grow: 0;
	padding: 128px 0 90px;
	background-color: #f9f2ea;
	min-height: 100vh;
	position: relative;
}

.wc-step {
	position: relative;
	text-align: center;
	width: 560px;
	margin: 0 auto;
}

.wc-option-list {
	min-height: 372px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wc-step-title {
	padding: 3px 0;
	font-size: 35px;
	font-weight: $font-weight-bold;
}

.wc-step-comment {
	padding: 9px 53px 43px;
	font-size: 25px;
	font-weight: $font-weight-normal;
}

.wc-option-item {
	position: relative;
	width: 100%;
	min-height: 45px;
	display: flex;
	margin: 0 auto 16px;
	padding: 12px 0 10px 208px;
	border-radius: 50px;
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.06);
	background-color: #fffaf5;
	font-size: 15px;
	font-weight: $font-weight-bold;
	text-align: left;
	.wc-option-icon {
		position: absolute;
		width: 25px;
		height: 25px;
		top: 10px;
		left: 16px;
		object-fit: contain;
	}
	&:hover {
		background-color: #b8bcee;
		color: #eee;
		.wc-option-icon:not(.stroke) path {
			fill: #eee;
		}
		.wc-option-icon.stroke path {
			stroke: #eee;
		}
		p {
			color: #eee !important;
		}
	}
	&.selected {
		background-color: #9497e8;
		color: #fdfdfd;
		.wc-option-icon:not(.stroke) path {
			fill: #fdfdfd;
		}
		.wc-option-icon.stroke path {
			stroke: #fdfdfd;
		}
		p {
			color: #fff !important;
		}
	}
}

.wc-premium-panel {
	border-top: 1px solid #bf9564;
	padding-top: 11px;
	text-align: left;
	padding: 11px 0;
}
.wc-premium-panel > h1 {
	font-size: 20px;
	font-weight: 900;
	height: initial;
	padding: 0 0 9px;
}

.wc-circlebox-list {
	list-style: none;
	padding-left: 0;
	position: relative;
	margin: 0;
}

.wc-circlebox-list li {
	position: relative;
	padding: 3px 0 12px;
	padding-left: 43px;
}

.wc-circlebox-list li::before {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 25px;
	height: 25px;
	background-color: #06b89d;
	border-radius: 50%;
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.06);
	clear: both;
}

.wc-circlebox-list li::after {
	position: absolute;
	display: block;
	content: '';
	top: 11px;
	left: 8px;
	width: 8px;
	height: 4px;
	border: 2px solid #fff;
	border-right: none;
	border-top: none;
	clear: both;
	transform: rotate(-45deg);
}

.wc-circlebox-list li.default::before {
	background-color: #6f8797;
}

.wc-circlebox-list li h3 {
	padding: 1px 0;
	font-size: 20px;
	font-weight: 500;
	color: #6f8797;
}

@media (max-width: 559px) {
	.wc-btn:not(.avatar-btn) {
		padding-left: 120px;
	}
	.wc-btn.wc-btn-next {
		padding-left: 0;
	}
	.wc-step {
		width: 320px;
	}
}
